# Configs
EXPO_PUBLIC_API_LOGS=true
EXPO_PUBLIC_LOG_TIMER=true
EXPO_PUBLIC_WEBSOCKET_RECONNECT_INTERVAL_SECONDS=30

#Services
EXPO_PUBLIC_API_REQUEST_TIMEOUT=30000
EXPO_PUBLIC_API_URL=http://192.168.0.X:3000
EXPO_PUBLIC_WEBSOCKET_URL=ws://CURRENT_APPLICATION_IP:5093